:root{
    --cor-primaria: #0047E1;
    --cor-secundaria: #00A8E8;
    --cor-terciaria: #F5F7FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    z-index: 1000;
}

main{
    padding-top: 80px;
}

header ul{
    display: flex;
    list-style: none;
}

.icons i{
    font-size: 1.3em;
    color: var(--cor-terciaria);
    margin-right: 20px;
}

.logo{
    aspect-ratio: 3 / 2;
    width: 120px;
    display: block;
}

.background-1{
    background-image: url(../img/funcionalidades/imagem-mobile.png);
    aspect-ratio: 9 / 16;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.icones{
    background-color: var(--cor-primaria);
}

.explore-acervo{
    padding-top: 15px;
    padding-bottom: 15px;
    aspect-ratio: 1 / 1;
}

.container-1{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.container-icones{
    background-color: var(--cor-secundaria);
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 50%;
}

.container-icones img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.container-ultimo{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.comece-ler{
    text-align: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 10px;
}

.comece-ler h2{
    margin-bottom: 15px;
}

.comece-ler button{
    width: 25%;
    padding: 8px;
    border: 1px solid var(--cor-terciaria);
    background-color: var(--cor-primaria);
    border-radius: 10px;
    margin-bottom: 5px;
}

.comece-ler a{
    color: var(--cor-terciaria);
    font-size: 1.2em;
}

.slide p{
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.comece-ler img{
    display: block;
    aspect-ratio: 3 / 2;
    width: 220px;
    margin: 10px auto;
}

.sugestao{
    text-align: center;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.sugestao h2{
    margin-bottom: 20px;
}

.sugestao button{
    width: 25%;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-terciaria);
    margin-bottom: 25px;
}

.sugestao a{
    color: var(--cor-terciaria);
}

.temas a{
    display: inline-block;
    padding: 9px;
    color: var(--cor-terciaria);
    margin-bottom: 25px;
    text-decoration: none;
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    font-size: 0.9em;
}

.destaque{
    text-align: center;
}

.destaque h2{
    margin: 20px 0 12px;
}

.destaque button{
    padding: 10px;
    width: 160px;
    border: none;
    background-color: var(--cor-primaria);
    border-radius: 8px;
    margin-bottom: 25px;
}

.destaque-btn{
    color: var(--cor-terciaria);
    text-transform: uppercase;
}

.slide-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.slide-1 img{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: auto;
    width: 170px;
}

.slide-1 .seta-1{
    grid-column: 1 / 2;
    width: 40px;
    align-self: center;
    justify-self: right;
    text-align: center;
    padding-right: 20px;
}


.slide-1 .seta-2{
    width: 40px;
    grid-column: 3 / -1;
    align-self: center;
    justify-self: left;
    text-align: center;
    padding-left: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    margin-top: 15px;
}

