.container{
    padding: 15px;
    max-width: 1200px;
    height: 100%;
}

.logo{
    text-align: center;
    margin: 0 auto;
    width: 120px;
}

.imageBackground{
    background-image: url("../../../../assets/auth/background-auth-mobile.png");
    aspect-ratio: 3 / 2;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 25px;
}

.containerTitle{
    text-align: center;
    margin-bottom: 25px;
}

.title{
    color: var(--title-color);
    font-size: 1.6em;
    margin-bottom: 5px;
}

.description{
    color: var(--informations-color);
    font-size: 0.9em;
    font-weight: 520;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.detailsContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0 18px;
}

.details{
    color: var(--informations-color);
    font-size: 0.9em;
    font-weight: 600;
}

.divider{
    border: none;
    width: 50%;
    border-top: 2px solid var(--border-color);
}

@media screen and (min-width: 768px) {
    .container{
        margin: 0 auto;
    }
    
    .logo{
        display: none;
    }

    .imageBackground{
        background-image: url("../../../../assets/auth/background-auth-desktop.png");
        width: 45%;
        height: 100%;
        margin-bottom: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-size: cover;
        aspect-ratio: 4 / 3;
    }

    .generalContainer{
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-size: cover;
        height: 100%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .contentContainer{
        width: 50%;
        padding: 50px;
        margin: 20px;
        border-radius: 8px;
        height: 80%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}