.container{
    padding: 10px;
}

.formContainer{
    margin-top: 20px;
}

.dataContainer{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 13px;
    margin-bottom: 20px;
}

.inputTitle{
    margin-bottom: 25px;
    padding-left: 10px;
}

.label{
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
    font-size: 0.9em;
    color: var(--title-color);
    font-weight: 530;
}

.authorsContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    gap: 8px;
}

.authorsContainer > div{
    flex: 1;
}

.inputAuthors{
    padding-left: 10px;
    flex: 1;
}

.btnDelete{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: 0.3s;
}

.btnDelete:hover{
    background-color: var(--red-hover);
}

.deleteIcon{
    width: 19px;
    height: 19px;
    color: var(--informations-color);
}

.descriptionContainer{
    margin-top: 17px;
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.description{
    min-height: 160px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    font-family: "Inter", sans-serif;
    color: var(--title-color);
    font-weight: 550;
    line-height: 1.5;
    width: 100%;
    resize: none;
    outline: none;   
}

.description:focus-within{
    box-shadow: 0 0 10px var(--primary-color);
    border-color: var(--primary-color);
}

.countDescription{
    align-self: flex-end;
    right: 5%;
    top: 85%;
    font-size: 0.72em;
    pointer-events: none;
    color: var(--informations-color);
    font-weight: 530;
}