.kebabContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-start;
    margin-left: auto;
}

.icon{
    width: 21px;
    height: 21px;
    color: var(--title-color);
}

.itemIcon{
    width: 16px;
    height: 16px;
    color: var(--informations-color);
}

.itemIconDelete{
    color: #d33e3e;
}