.mainContainer{
    display: flex;
    overflow-x: hidden;
    height: 100vh;
    overflow: hidden;
}

.header{
    flex-direction: row-reverse;   
}

.main{
    padding-bottom: 10px;
    overflow-y: auto;
}

.outlet{
    padding-top: 120px;
    margin-left: 20px;
}