.mainContainer{
    display: flex;
    overflow-x: hidden;
    height: 100vh;
    overflow: hidden;
}

.header{
    flex-direction: row-reverse;   
}

.main{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    flex: 1;
    min-width: 0;
}

.outlet{
    padding-top: 15px;
    margin-left: 20px;
    overflow-y: auto;
}