.input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}

.input:focus-within{
    box-shadow: 0 0 10px var(--primary-color);
}

.label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}