.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-self: center;
    margin-left: auto;
}


.button{
    width: 100%;
    padding: 6px 12px !important;    
}