.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 4px;
    flex: 1;
    min-width: 110px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 16px 16px 16px 7px;
}

.iconContainer{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.icon{
    width: 23px;
    height: 23px;
}

.number{
    font-size: 1.085em;
    color: var(--title-color);
    font-weight: 700;
}

.caption{
    font-size: 0.77em;
    font-weight: 700;
}

.information{
    font-size: 0.76em;
    font-weight: 600;
    color: var(--informations-color);
}

.purple .iconContainer{
    background-color: var(--details-background);
}

.purple .icon{
    color: var(--details-color);
}

.purple .caption{
    color: var(--details-color);
}

.orange .iconContainer{
    background-color: #f3e9c2;
}

.orange .icon{
    color: #d97706;
}

.orange .caption{
    color: #d97706;
}

.green .iconContainer{
    background-color: #f0fdf4;
}

.green .icon{
    color: var(--done-color);
}

.green .caption{
    color: var(--done-color);
}

.blue .iconContainer{
    background-color: var(--contrast-secondary-color);
}

.blue .icon{
    color: var(--secondary-color);
}

.blue .caption{
    color: var(--secondary-color);
}
