.container{
    padding: 15px 11px;
}

.title{
    color: var(--title-color);
    font-size: 1.25em;
    margin-bottom: 5px;
}

.information{
    color: var(--informations-color);
    font-weight: 600;
    font-size: 0.8em;
    width: 80%;
    margin-bottom: 15px;
}

.searchContainer{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 17px;
}

.input{
    margin-bottom: 10px;
}

.filter{
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    padding: 10px;
    appearance: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--informations-color);
}

.filter:focus-within{
    border-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.alert{
    display: flex;
    align-items: center;
    gap: 7px;
}

.alertIcon{
    width: 15px;
    height: 15px;
    color: var(--informations-color);
}

.alertDescription{
    color: var(--informations-color);
    font-weight: 600;
    font-size: 0.77em;
}

.resultContainer{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px 0;
}

.containerSearch{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.resultTitle{
    color: var(--title-color);
    font-size: 1em;
    letter-spacing: -0.98px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 4px;
}

.resultDescription{
    color: var(--informations-color);
    font-weight: 500;
    font-size: 0.85em;

}

.resultIconContainer{
    border: 1px solid var(--border-color);
    background-color: transparent;
    padding: 7px;
    display: inline-flex;
    align-items: center;
    border-radius: 7px;
}

.resultIcon{
    width: 20px;
    height: 20px;
}

.bookContainer:not(:last-child){
    border-bottom: 1px solid var(--border-color);
}