.container{
    padding: 15px;
    margin: auto;
    max-width: 470px;
}

.logo{
    margin: auto;
    margin-bottom: 10px;
}

.title{
    color: var(--title-color);
    font-size: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}

.description{
    text-align: center;
    font-size: 0.9em;
    font-weight: 470;
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
    color: var(--tertiary-color);
}