.container{
    padding: 10px 15px 10px;
    max-width: 1200px;
}

.loadingContainer{
    display: block;
    width: fit-content;
    margin: auto;
}

.import{
  margin-top: 10px;
}

.infoBook{
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .container{
        margin: auto;
    }
}