.container{
    padding: 15px;
    margin: auto;
    max-width: 470px;
}

.logo{
    margin: auto;
    margin-bottom: 10px;
}

.title{
    color: var(--title-color);
    font-size: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}

.description{
    text-align: center;
    font-size: 0.9em;
    font-weight: 470;
    margin-bottom: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.minimum{
    font-size: 0.73em;
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--informations-color);
    font-weight: 700;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 7px;
}

.linkContainer{
    display: flex;
    justify-content: center;
    gap: 7px;
}

.iconLink{
    color: var(--informations-color);
    width: 18px;
    height: 18px;
}

.link{
    color: var(--informations-color);
    font-size: 0.8em;
    font-weight: 540;
}

@media screen and (max-width: 395px) {
    .link{
        max-width: 290px;
        text-align: center;
    }
}

