.container{
    padding: 10px;
    margin: auto;
}

.logo{
    margin: auto;
    margin-bottom: 10px;
}

.title{
    color: var(--title-color);
    font-size: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}

.description{
    text-align: center;
    font-size: 0.9em;
    font-weight: 470;
    margin-bottom: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.minimum{
    font-size: 0.73em;
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--informations-color);
    font-weight: 700;
}

.btnContainer{
    margin-top: 10px;
}

.linkContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    color: var(--informations-color);
    font-size: 1em;
}

.icon{

}