.kebabButton{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-start;
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.icon{
    width: 20px;
    height: 20px;
    color: var(--title-color);
}

.kebabContent{
    background: white;
    border-radius: 8px;
    min-width: 100px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.212);
    padding: 8px 0;
    margin-right: 12px;
}

.kebabTrigger{
    outline: none;
    border-color: var(--primary-color);
}

.kebabItem{
    cursor: pointer;
    font-size: 0.78em;
    color: var(--title-color);
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.3s;
}

.kebabItem:hover,
.kebabItem:active,
.kebabItem:focus{
    outline: none;
    background-color: var(--secondary-color-transparency);
}

.kebabItemDel:hover,
.kebabItemDel:active{
    background-color: var(--red-hover);
}

.itemIcon{
    width: 16px;
    height: 16px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteOption{
    color: var(--red-details);
}

.editUser.kebabContent{
    min-width: 90px;
}

.editUser .itemIcon{
    margin-right: 5px;
}