.container{
    margin: 0 10px;
}

.titleContainer{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.title{
    color: var(--title-color);
    font-size: 1.4em;
    margin: 20px 0 4px;
}

.description{
    font-size: 0.8em;
    font-weight: 520;
    color: var(--informations-color);
}

.btnCategory{
    width: auto;
    white-space: nowrap;
    height: 34px;
    padding: 3px 9px !important;
    margin-top: 20px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.categoriesContainer{
    border: 1px solid var(--border-color);
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px;
}

.categories:not(:last-child){
    margin-bottom: 1px solid var(--border-color);
}



