.container{
    padding: 10px;
    max-width: 1200px;
}

.pageHeader{
    margin-bottom: 20px;
}

.userContainer{
    margin: 20px 0;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .container{
        margin: auto;
    }
}