.container{
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    max-width: 380px;
    margin: 0 auto;
}

.logo{
    margin: auto;
    margin-bottom: 10px;
}

.title{
    color: var(--title-color);
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}

.description{
    font-size: 0.95em;
    text-align: center;
    font-weight: 470;
}