.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 15px;
}

.divider{
    border: none;
    border-top: 2px solid var(--border-color);
}

@media screen and (min-width: 768px) {
    .container{
        margin: auto;
    }
}