:root{
    --primary-color: #0047E1;
    --secondary-color: #00A8E8;
    --tertiary-color: #F5F7FF;

    --primary-color-transparency: rgba(0, 71, 225, 0.3);
    --secondary-color-transparency: rgba(0, 168, 232, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}