.buttonContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    margin-left: auto;
}

.button{
    width: 100%;
    padding: 8px 12px !important;  
}

@media screen and (min-width: 768px) {
    .buttonContainer{
        flex-direction: row;
        gap: 15px;
    }
}
