.background{
    background: linear-gradient(to bottom, var(--primary-color-transparency),  var(--secondary-color-transparency)), url(../../assets/auth/auth-background.png);
}

.top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 55px; 
}

.top img{
    grid-column: 2 / 3;
    justify-self: center;
    margin-bottom: 15px;
}

.top h4{
    grid-column: 1 / -1;
    margin-bottom: 5px;
    line-height: 1.2;
    text-align: center;
}

.top p{
    font-weight: normal;
    font-size: 0.9em;
    text-align: left;
    text-align: center;
}

article{
    width: 90%;
}