:root{
    --primary-color: #0047E1;
    --secondary-color: #00A8E8;
    --tertiary-color: #F5F7FF;

    --primary-color-transparency: rgba(0, 71, 225, 0.3);
    --secondary-color-transparency: rgba(0, 168, 232, 0.3);
}

.button{
    border-radius: 7px;
    border: none;
    width: 100%;
    padding: 13px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.85em;
    font-weight: 500;
    text-align: center;
}

.primary{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
}

.secondary{
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    color: var(--informations-color);
}

.primary:hover{
    background-color:  var(--primary-color-transparency);
}
.secondary:hover{
    background-color: var(--secondary-color-transparency);
}